.contactBody {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactBox {
  height: 700px;
  width: 700px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 6px 3px 40px 10px rgb(0, 0, 0);
}

.leftPortion {
  height: 100%;
  width: 15%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftPortion h3 {
  color: #071420dc;
  margin-right: auto;
  white-space: nowrap;
  /* letter-spacing: 11px; */
  font-size: 70px;
  font-weight: 600;
  transform: ;
  rotate(-90deg)margin-left: auto;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  font-family: 'Varela Round', sans-serif;
}

.rightPortion {
  height: 100%;
  background: #1c1d25;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}