.navbar {
  /* justify-content: flex-start; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: .5rem;
  /* remove if you want navbar to match body color */
  background-color: #1c1d25;
}

.test {
  color: rgba(0, 35, 75, 0.822)
}

.navbar-brand {
  display: flex;
}

.navbar-brand {
  text-decoration: none !important;
}

.self h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: -2px;
}

.self span {
  font-size: 14px;
  font-family: 'Spartan', sans-serif;
}

.logo {
  align-self: center;
  margin-left: 15px;
  margin-right: 10px;
  height: 50px;
  width: auto;
}

.pages {
  justify-content: flex-end;
  display: flex;
  justify-content: right;
  margin-right: 15px;
}

.link {
  text-decoration: none;
  margin-left: 10px;
  transition: transform 500ms;
  will-change: transform;
  -webkit-transition: transform 500ms;
  -moz-transition: transform 500ms;
  -ms-transition: transform 500ms;
  -o-transition: transform 500ms;
}

.link :hover {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
}

.link h3 {
  margin: 0;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
}

a:-webkit-any-link {
  color: white
}

.active {
  border-bottom: 3px solid rgb(67, 217, 255)
}