*, body {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Exo 2', sans-serif;
  /* font-family: 'Spartan', sans-serif; */
}

h1, h2, h3, h4, p, span {
  color: white
}

#main {
  height: 100vh;
  /* display: flex; */
  flex-flow: column;
}