* {
  box-sizing: border-box;
}

:root {
  --dots: rgba(242, 242, 242, 0.6);
  --frame: #000;
  --shine: rgba(242, 242, 242, 0);
  /* --shine: rgba(242, 242, 242, 0.35); */
  --lens: #0b0c10;
  --code-one: #66fcf1;
  --code-two: #45a29e;
  --code-three: #c5c6c7;
  --code-four: #f7f8fa;
}

/* #0b0c10 '#1f2833', '#c5c6c7', '#45a29e', '', '#f7f8fa'  */

.lensWrapper {}

.lensWrapper svg {
  height: 50vmin;
}

.code-block {
  animation: read 1.75s ease-in-out;
  -webkit-animation: read 1.75s ease-in-out;
  animation-iteration-count: 2;
}

svg:hover .code-block {
  animation-play-state: running;
}

.code-block rect {
  fill: var(--code-one);
}

.code-block rect:nth-of-type(15), .code-block rect:nth-of-type(17) {
  fill: var(--code-four);
}

.code-block rect:nth-of-type(1) {
  fill: var(--code-three);
}

.code-block rect:nth-of-type(5) {
  fill: var(--code-four);
}

.code-block rect:nth-of-type(8), .code-block rect:nth-of-type(9) {
  fill: var(--code-two);
}

.code-block rect:nth-of-type(12) {
  fill: var(--code-three);
}

.lens {
  fill: var(--lens);
}

.lens__shine {
  fill: var(--shine);
}

.shades-dot {
  fill: var(--dots);
}

.shades-frame {
  fill: var(--frame);
}

@-moz-keyframes read {
  to {
    transform: translate(0, -283.5px);
  }
}

@-webkit-keyframes read {
  to {
    transform: translate(0, -283.5px);
  }
}

@-o-keyframes read {
  to {
    transform: translate(0, -283.5px);
  }
}

@keyframes read {
  to {
    transform: translate(0, -283.5px);
  }
}